@{
    ViewBag.Title = "Home Page";
}
<form method="post">
    <input style="margin:20px" type="search" name="search" placeholder="Search by suburb"/>
    <button type="submit">Search</button>
</form>

<table>
    @{
        if (IsPost)
        {
            <thead>
                <tr>
                    <th>Service Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Battalion</th>
                </tr>
            </thead>

            string search = Request.Form["search"];
            string baseAddress = "https://www.aif.adfa.edu.au/";

            HtmlAgilityPack.HtmlWeb web = new HtmlAgilityPack.HtmlWeb();
            HtmlAgilityPack.HtmlDocument doc = web.Load($"{baseAddress}search?type=search&name=&regNum=&place={search}");

            var listings = doc.DocumentNode.SelectNodes("//tr");

            foreach (var item in listings.Where(l => l != listings.Last()))
            {
                string num = item.ChildNodes[1].InnerHtml;
                string name = item.ChildNodes[2].InnerText;
                string address = item.ChildNodes[3].InnerHtml;
                string battalion = item.ChildNodes[4].InnerText;

                <text>
                    <tr>
                        <td>@num</td>
                        <td>@name</td>
                        <td>@address</td>
                        <td>@battalion</td>
                    </tr>
                </text>

            }
        }
    }
</table>
